* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  font-size: 18px;
  font-family: sans-serif;
}

button {
  background-color: #fff;
}

input, button {
  font-size: 18px;
}

/* to prevent vue.js template flickering on load */
.hidden, [v-cloak] {
  display: none;
}

#todos {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

#todo-area ul {
  list-style: none;
  padding: 0;
}

#todo-area li {
  padding: 10px 0;
}

#todo-area li .todo-text {
  padding: 0 10px;
}

#todo-area button {
  border: none;
  float: right;
}

#todo-area button:hover {
  color: red;
  cursor: pointer;
}

#todo-area button:focus {
  outline-color: red;
}

#todo-area input[type=checkbox] {
  /*visibility: hidden;*/
}

#add-area {
  font-size: 0; /* to remove spaces added by line breaks */
  margin: 30px 0;
}

#add-area input[type=text] {
  width: 70%;
  border: 1px solid black;
  padding: 5px 10px;
}

#add-area button {
  width: 15%;
  border: 1px solid black;
  border-left: none;
  padding: 5px 10px;
}
